a:visited
        {
         background-color:transparent;
         color: #000;
         text-decoration: none;
        }

a:link
        {
         color:#000;
         text-decoration: none;
        }

a:hover
        {
         color:#000;
         text-decoration:underline;
        }



body {
  font-size: 75%;
  font-family: 'Lucida Grande', Verdana, Sans-Serif;
  color: #000;
  background-color: #c9c9c9;
}

.content{
	width:40%;
	margin-left: auto;
	margin-right: auto;
}

.head{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
p.avi{
	font-size:40px;
	color:blue;
}
table.main{
}
.icon{
	vertical-align:middle;
}
.text{
	font-size: 10px;
	height: 30px;
//	padding-top: 30px;
	vertical-align:middle;
}
.date{
	padding-right: 20px;
	color:#a5a5a5;
	font-size:7pt;
}

